.ContextMenuItem {
  --vertical-space: 0;
  display: flex;
  margin: 4px;
  align-items: center;
  border: 1px solid var(--color-typo-white);
  padding: var(--vertical-space);
  text-decoration: none;
  word-break: break-word;
  cursor: pointer;
  transition: background-color 0.2s;
  gap: var(--space-xs);

  &_theme {
    &_primary {
      &:hover {
      background-color: var(--color-control-bg-ghost);
      border: 1px solid var(--color-control-bg-ghost);
      }

      &:focus {
      background-color: var(--color-control-bg-ghost-focus);
      border: 1px solid var(--color-control-bg-ghost-focus);
      }
    }

    &_secondary {
      &:hover {
        background-color: var(--color-bg-stripe);
        border: 1px solid var(--color-control-bg-focus);
      }

      &:focus {
        background-color: var(--color-control-bg-focus);
        border: 1px solid var(--color-control-bg-focus);
      }
    }
  }



  &_size {
    &_xs {
      --vertical-space: var(--space-2xs);
    }

    &_s {
      --vertical-space: var(--space-xs);
    }

    &_m {
      --vertical-space: var(--space-s);
    }

    &_l {
      --vertical-space: var(--space-m);
    }
  }

  &-Label {
    flex: 1;
  }

  &_disabled.Text {
    color: var(--color-control-typo-disable);
    cursor: default;

    &:hover {
      background: transparent;
    }
  }

  &-Slot {
    display: flex;
    align-items: center;

    &_position {
      &_left,
      &_right {
        flex: 0;
      }

      &_center {
        flex: 1;
      }
    }
  }
}
