.EditPanel {

&-Header {
   background: #F2F2F2 !important;
   box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
   height: 52px;

&_adaptiveBarColumnFlex {
   display: flex;
   flex-direction: column;
   height: 104px !important;
   min-width: 375px !important;
 }

&_minHeight_big {
   min-height: 104px;
 }

&_minHeight_small {
   min-height: 56px;
 }

&-Block {
   height: 24px;

&_spaceBetween {
   display: flex;
   justify-content: space-between;
 }

&_fillSpace {
   display: flex;
   justify-content: space-between;
 }

&-FlexBarItem {
   display: flex;
   flex-direction: row;
   align-items: center;

&-BarButton {
   margin-top: 4px;
   color: #333333;

&_marginMedium {
   margin-left: 16px;
 }

&_marginSmall {
   margin-left: 16px;
 }
}

&-VerticalLine {
   border-left: 1px solid #B3B3B3;
   height: 24px;
   margin-left: 16px;
 }

&-AdaptiveDropdown {
   margin-left: 16px;
   width: 100%;
 }
}

}
}
}
