.Theme_size_gpnDefault {
  /* Размер текста */
  --size-text-h1: 56px;
  --size-text-h2: 32px;
  --size-text-h3: 20px;
  --size-text-h4: 16px;
  --size-text-body: 14px;
  --size-text-caption: 12px;

  /* Межстрочный интервал */
  --line-height-text-2xs: 1em;
  --line-height-text-xs: 1.2em;
  --line-height-text-s: 1.4em;
  --line-height-text-m: 1.5em;
  --line-height-text-l: 1.6em;

  /* Ширина шрифта */
  --font-weight-text-light: 300;
  --font-weight-text-regular: 400;
  --font-weight-text-medium: 700;
  --font-weight-text-bold: 700;
}
