.Typography {
  /* &_font {
    &_primary {
      font-family: var(--font-primary);
    }

    &_mono {
      font-family: var(--font-mono);
    }
  } */
  font-family: var(--font-primary);
  &_align {
    &_center {
      text-align: center;
    }

    &_left {
      text-align: left;
    }

    &_right {
      text-align: right;
    }
  }

  &_cursor {
    &_pointer {
      cursor: pointer;
    }
  }

  &_decoration {
    &_underline {
      text-decoration: underline;
    }
  }

  &_display {
    &_block {
      display: block;
    }

    &_inlineBlock {
      display: inline-block;
    }

    &_inline {
      display: inline;
    }
  }

  &_size {
    &_h1 {
      font-size: var(--size-text-h1);
      line-height: 68px
    }

    &_h2 {
      font-size: var(--size-text-h2);
      line-height: 40px
    }

    &_h3 {
      font-size: var(--size-text-h3);
      line-height: 24px
    }

    &_h4 {
      font-size: var(--size-text-h4);
      line-height: 24px
    }

    &_body {
      font-size: var(--size-text-body);
      line-height: 20px
    }

    &_caption {
      font-size: var(--size-text-caption);
      line-height: 16px
    }
  }

  /* &_lineHeight {
    &_xs {
      line-height: var(--line-height-text-xs);
    }

    &_2xs {
      line-height: var(--line-height-text-2xs);
    }

    &_s {
      line-height: var(--line-height-text-s);
    }

    &_m {
      line-height: var(--line-height-text-m);
    }

    &_l {
      line-height: var(--line-height-text-l);
    }
  } */

  &_spacing {
    &_xs {
      letter-spacing: 0.06em;
    }

    &_s {
      letter-spacing: 0.1em;
    }

    &_m {
      letter-spacing: 0.14em;
    }

    &_l {
      letter-spacing: 0.2em;
    }
  }

  &_fontStyle {
    &_italic {
      font-style: italic;
    }
  }

  &_transform {
    &_uppercase {
      text-transform: uppercase;
    }
  }

  /* &_type {
    &_blockquote {
      margin-bottom: var(--space-l);
      margin-left: var(--space-4xl);
      padding-left: var(--space-m);
      border-left: var(--space-xxs) solid var(--color-bg-brand);
    }

    &_h1,
    &_h2,
    &_h3 {
      margin: 2em 0 1em;
    }

    &_p {
      margin: 0 0 0.9em;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  } */

  &_view {
    &_alert {
      color: var(--color-typo-alert);
    }

    &_brand {
      color: var(--color-typo-brand);
    }

    &_ghost {
      color: var(--color-typo-ghost);
    }

    &_link {
      color: var(--color-typo-link);
      transition: 0.3s ease;

      :hover {
        color: var(--color-typo-link-hover);
      }
    }

    &_linkMinor {
      color: var(--color-typo-link-minor);
      transition: 0.3s ease;

      :hover {
        color: var(--color-typo-link-hover);
      }
    }

    &_primary {
      color: var(--color-typo-primary);
    }

    &_secondary {
      color: var(--color-typo-secondary);
    }

    &_success {
      color: var(--color-typo-success);
    }

    &_warning {
      color: var(--color-typo-warning);
    }
  }

  &_weight {
    &_thin {
      font-weight: var(--font-weight-text-thin);
    }

    &_light {
      font-weight: var(--font-weight-text-light);
    }

    &_regular {
      font-weight: var(--font-weight-text-regular);
    }

    &_medium {
      font-weight: var(--font-weight-text-medium);
    }

    &_semibold {
      font-weight: var(--font-weight-text-semibold);
    }

    &_bold {
      font-weight: var(--font-weight-text-bold);
    }

    &_black {
      font-weight: var(--font-weight-text-black);
    }
  }

  &_width {
    &_default {
      max-width: 75ch;
    }
  }
}
