.Picker {
  position: relative;
  border: 1px solid #dbdbdb;
  background-color: var(--color-typo-white);
  border-radius: 4px;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: #4a4a4a;
  box-sizing: content-box;
  z-index: 100;
}

.datetime-range-picker {
  border: 1px solid #dbdbdb;
  background-color: var(--color-typo-white);
  border-radius: 4px;
  box-sizing: content-box;
  z-index: 100;
}

.datetime-trigger {
  position: relative;

  .Picker {
    position: absolute;
    top: 100%;
  }
}

.datetime-range-trigger {
  position: relative;

  .datetime-range-picker {
    position: absolute;
    top: 100%;
  }
}

.datetime-picker-popup,
.datetime-range-picker-popup {
  margin-top: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .15);

&:before {
   content: "";
   position: absolute;
   background: var(--color-typo-white);
   border-top: 1px solid #dbdbdb;
   border-right: 1px solid #dbdbdb;
   width: 10px;
   height: 10px;
   z-index: -1;
   left: 10px;
   top: -6px;
   transform: rotate(315deg);
 }
}
