.DatasetBar {
  margin: 0;
  padding: 16px;
  width: 100%;

    &-Fullscreen {
       padding: 24px 24px 24px 24px;
       position: relative;
     }

    &-GridPanel {
      display: flex;
      align-items: center;
     }

    &-Header {
       background: #F2F2F2 !important;
       box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
       border-radius: 4px;
       height: 52px;

        &_adaptiveBarColumnFlex {
           display: flex;
           flex-direction: column;
           height: 104px !important;
           min-width: 375px !important;
         }

        &_minHeight_big {
           min-height: 104px;
         }

        &_minHeight_small {
           min-height: 56px;
         }

        &_flexBarItem {
           flex-direction: row;
           align-items: center;
         }

        &_fillSpace {
           display: flex;
           justify-content: space-between;
         }

        &_adaptiveBarHidden {
           display: none !important;
           margin: 0;
           padding: 0;
         }
    }

    &-VerticalLine {
       border-left: 1px solid #B3B3B3;
       height: 24px;
       margin-left: 16px;
     }

     &-AdaptiveBarHidden {
        display: none !important;
        margin: 0;
        padding: 0;
      }

     &-AdaptiveDropdown {
        margin-left: 16px;
        width: 100%;
      }







    &-Search {
        margin-left: 16px;

        &_input {
           height: 32px;
         }

        &_button {
           margin-top: 4px;
         }

     }




}
