.TableSelectedOptionsList {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-right: var(--space-s);
  border-top: var(--control-border-width) solid var(--color-control-bg-border-default);
  border-left: var(--control-border-width) solid var(--color-control-bg-border-default);
  border-right: var(--control-border-width) solid var(--color-control-bg-border-default);

  &-Options {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0 var(--cell-padding-horizontal);
    flex-wrap: wrap;
    font-size: var(--size-text-s);
  }

  &-Option {
    max-width: 100%;
    margin: var(--space-2xs) 0;
    margin-right: var(--space-2xs);

    & .TagBase-Label {
      overflow: hidden;
      max-width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: var(--color-control-typo-default);
    }
  }

  &-Button {
    opacity: 0;
    transition: opacity 0.15s ease-out;

    .TableSelectedOptionsList:hover & {
      opacity: 1;
    }
  }
}
