.calendar {

.calendar-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
  min-height: 32px;
  padding: 4px;

button {
  background: none;
  border: 0;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

.fa {
  font-size: 18px;
}

&:hover {
   background-color: #f0f0f0;
 }
}

.current-date {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 8px;
  cursor: pointer;

&:hover {
   background-color: #f0f0f0;
 }

&.disabled {
   cursor: default;
 }
}
}

table {
  display: block;
  padding: 8px 12px;
  width: 280px;
  height: 228px;

th, td {
  padding: 0;
}

thead {
  display: block;
  margin: 8px 0 3px;

tr {
  display: flex;
  flex-wrap: wrap;
}

th {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 400;
}
}

tbody {
  display: block;

tr {
  display: flex;
  flex-wrap: wrap;

td {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 4px;
  cursor: pointer;
  margin: 3px 6px;
  font-size: 12px;

&:hover {
   background-color: #fff8e0;
 }

&.prev,
&.next,
&.disabled {
   color: #dedede;

&:hover {
   color: #c5c5c5;
 }
}

&.disabled {
&:hover {
   color: #dedede;
   background-color: transparent;
   cursor: not-allowed;
 }
}

&.now {
   color: #black;
   border: 1px solid #ffcc66;
   font-weight: 400;
 }

&.selected {
   background-color: #fff8e0;
   border: 1px solid #ffcc66;
   color: black;
   font-weight: 400;

&:hover {
   background-color: darken(#5cc4ef, 2%);
   color: #black;
 }

&.start {
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
 }

&.end {
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
 }

&.start.end {
   border-radius: 4px;
 }
}

&.between {
   background-color: lighten(#5cc4ef, 33%);
   border-radius: 0;
 }
}
}
}
}

.calendar-days table tbody tr td {
  width: 100% / 7;
  flex: 1;
}

.calendar-months table tbody tr td {
  width: 100%/3;
  height: 40px;
  flex: 1;
}

.calendar-years table tbody tr td {
  width: 100% / 4;
  height: 60px;
  flex: 1;
}

}
