.Theme_shadow_gpnDefault {
  /* Тени */
  --shadow-group: 0 2px 2px rgba(0, 32, 51, 0.02), 0 2px 8px rgba(0, 32, 51, 0.16);
  --shadow-layer: 0 4px 4px rgba(0, 0, 0, 0.1);
  --shadow-modal: 0 8px 8px rgba(0, 32, 51, 0.04), 0 12px 28px rgba(0, 32, 51, 0.12);
  --shadow-table: 2px 2px 2px rgba(27, 35, 82, 0.02), 4px 3px 2px rgb(0 0 0 / 4%);
  --shadow-container: 0px 8px 16px rgba(0, 0, 0, 0.03), 0px 12px 36px rgba(0, 0, 0, 0.08);
}
