.HeaderMenu {
  display: flex;
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
  border-top: var(--control-border-width) solid var(--color-control-bg-border-default);
  border-left: var(--control-border-width) solid var(--color-control-bg-border-default);
  border-right: var(--control-border-width) solid var(--color-control-bg-border-default);

  &-LeftSide,
  &-RightSide {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
  }

  &-LeftSide {
    .Button {
      margin: var(--space-xs);
    }
  }

  &-RightSide {
    justify-content: flex-end;
  }

  &-LeftSideLine {
     display: inline;

    &::before {
      content: '';
      position: absolute;
      top: 10px;
      left: 89px;
      bottom: 10px;
      width: 1px;
      background: var(--color-bg-border);
      opacity: 1;
      transition: opacity var(--fast-transition);
    }
  }




}
