.TableTextFilter {
  &-Searchbar {
    margin-bottom: var(--space-m);
  }

  &-AllCheckbox {
    margin-bottom: var(--space-xs);
    margin-left: calc(var(--control-border-width) + var(--space-s));
  }

  &-Checkboxes {
    overflow-y: auto;
    max-height: 240px;
    padding: var(--space-s);
    background-color: var(--color-control-bg-default);
    border-top: var(--control-border-width) solid var(--color-control-bg-border-default);
    border-bottom: var(--control-border-width) solid var(--color-control-bg-border-default);
    text-align: center;
  }

  &-TypoNotFound {
    padding: var(--space-s);

    .Typography {
      margin-top: 12px;
      color: var(--color-typo-secondary)
    }
  }

  &-Controls {
    display: flex;
    margin-bottom: var(--space-s);

    .Button {
      height: auto;
      margin-right: var(--space-l);
      padding: 0;
      color: var(--color-typo-link);
      background-color: transparent;
      line-height: var(--line-height-text-3xs);

      &:last-child {
         position: absolute;
         right: 0;
      }

      &_disabled {
        color: var(--color-control-typo-disable);
      }
    }
  }
}
